@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/**
General Style
    Structure
 */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}
.left-column {
    flex: 1 1 auto;
    max-width: 350px;
    padding-right:50px;
}
.right-column {
    flex: 3 1 auto;
    max-width: 475px;
    border-left: 3px solid black;
    padding-left:50px;
}
/**
General Style
    Typography
 */
h1,h2,h3,h4,h5,h6 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:1.5rem;
    margin: unset;
    text-shadow: 0 2px 2px rgba(86, 86, 86, 0.2);
}
p {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
a {
    text-decoration: none;
    color: black;
}
ul>li {
    font-family: "Rubik", sans-serif;
    font-size: 0.8rem;
    font-optical-sizing: auto;
    list-style: circle;
}

/**
General Style
    Helper classes
 */
.mt-2em {
    margin-top:2em;
}

.blurry-out {
    filter: blur(4px);
}

/**
Elements
    Separator
 */
.separator {
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 7px 0px 7px 0px;
}
.separator.keep-right {
    float: right;
    width: 50px;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
}
.separator.keep-left {
    width: 50px;
    margin-inline-start: 0px;
    margin-inline-end: 30px;
}

/**
Elements
    Slider
 */
.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
}
.slider {
    width: 200px;
    height: 7px;
    background-color: #ccc;
    position: relative;
}
.track {
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, #333, #000, #333); /* Adjust colors as needed */
}
.handle {
    position: absolute;
    top: -7px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #545252;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    background: radial-gradient(circle at top, rgb(80, 80, 80), #1c1c1c);
}
.slider.slider-php .handle {
    left: 85%;
}
.slider.slider-html5 .handle {
    left: 85%;
}
.slider.slider-css3 .handle {
    left: 70%;
}
.slider.slider-js .handle {
    left: 75%;
}
.slider.slider-shopware .handle {
    left: 87%;
}
.slider.slider-laravel .handle {
    left: 78%;
}
.slider.slider-wordpress .handle {
    left: 90%;
}
.slider-wrapper h3 {
    margin-top: unset;
    font-size: 1.2rem;
}

/**
Content Style
 */
.content-wrapper {
    background-color: white;
    padding: 100px 80px 100px 80px;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    min-height: 1280px;
    max-width: 900px;
}

/**
Content Style
    General
 */
.icon img {
    width: 30px;
    margin-left:25px;
    filter: drop-shadow(0 2px 2px rgba(86, 86, 86, 0.2));
}

/**
Content Style
    Resume Heading
 */
.resume-heading {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;

}
h1.resume-name {
    font-size: 4rem;
}
h3.resume-job-position-two {
    margin-top: 3px;
    font-weight: 400;
    text-shadow: none;
}

/**
Content Style
    Resume Personal Info
 */
.resume-personal-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    margin-top:50px;

}
.resume-personal-info p {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
}

/**
Content Style
    About Me
 */
.resume-about-me {
    display: flex;
    flex-direction: column;
    align-items: start;

}
.resume-about-me p {
    font-weight: 300;
}

/**
Content Style
    Tools and languages
 */
.tools-group,
.languages-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tools-group>* {
    flex: 1 1 50px;
}
.tools-group .tool-icon img,
.languages-group .language-icon img {
    width: 50px;
    margin-bottom:1em;
    filter: drop-shadow(0 2px 2px rgba(86, 86, 86, 0.2));
}

/**
Content Style
    Who i am
 */
.resume-who-am-i p {
    font-weight: 300;
}

/**
Content Style
    Experience
 */
.experience-group {}
.experience-group .experience-group-heading p {
    font-size:1.2rem;
}
.experience-sub-group {
    padding-left:25px;
}
.experience-sub-group p {
    font-size: 0.8rem;
}

/**
Content Style
    Education
 */
.education-group p:not(.education-heading) {
    font-size: 0.8rem;
}