@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --yellow: #c9a700;
    --orange: #ef762e;
    --purple: #8e35be;
}

.yellow {
    color: var(--yellow);
}
.orange {
    color: var(--orange);
}

.purple {
    color: var(--purple);
}

.loader-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1; /* Adjust as needed */
    z-index: 9998; /* Ensure the background is below the loader but above other elements */
    display: none;
}

.loader-text {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em; /* Adjust as needed */
    z-index: 9999; /* Ensure the text is above the loader background */
}

.chooser-wrapper {
    padding: 50px 20px 50px 20px;
}

/**
General Style
    Structure
 */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.left-column {
    flex: 1 1 auto;
    max-width: 350px;
    padding-right:50px;
}
@media (max-width: 1023px) {
    .left-column {
        flex: unset;
        max-width: unset;
        padding-right:unset;
    }
}
.right-column {
    flex: 3 1 auto;
    max-width: 475px;
    padding-left:50px;
}
@media (max-width: 1023px) {
    .right-column {
        flex: unset;
        max-width: unset;
        border-left: 3px solid black;
        padding-left:25px;
        margin-top: 40px;
    }
}

/**
General Style
    Typography
 */
h1,h2,h3,h4,h5,h6 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:1.5rem;
    margin: unset;
    text-shadow: 0 2px 2px rgba(86, 86, 86, 0.2);
}
p {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
a {
    text-decoration: none;
    color: black;
}
ul>li {
    font-family: "Rubik", sans-serif;
    font-size: 0.8rem;
    font-optical-sizing: auto;
    list-style: circle;
}

/**
General Style
    Helper classes
 */
.mt-2em {
    margin-top:2em;
}

.blurry-out {
    filter: blur(4px);
}


/* The switch - the box around the slider */
.switch-wrapper {
    display: flex;
    align-items: center;
}
.switch-wrapper p {
    margin: unset;
    padding: unset;
}

.switch-wrapper p.frontend-option {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.switch-wrapper p.backend-option {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px 10px 0px 10px;
}

/* Hide default HTML checkbox */
.switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-toggle {
    background-color: var(--orange);
}

input:focus + .slider-toggle {
    box-shadow: 0 0 1px var(--orange);
}

input:checked + .slider-toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded slider-toggles */
.slider-toggle.round {
    border-radius: 34px;
}

.slider-toggle.round:before {
    border-radius: 50%;
}
